.welcome.welcome-user {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.welcome.welcome-user img {
	width: 6em;
}

.collapse-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .4em;
	border-radius: 50%;
	background-color: transparent;
}
.collapse-btn:hover {
	background-color: unset;
	color: var(--primary-color-dark);
	transition-duration: 0s;
}

.collapse-btn * {
	pointer-events: none;
}

.collapse-btn i {
	color: var(--primary-color-dark);
}
